@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 class="mt-4">Cari Yönetimi</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Cari</a></li>
    <li class="breadcrumb-item active">Index</li>
</ol>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Cari Tablosu</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Şehir</th>
                        <th>Mail</th>
                        <th>Durum</th>
                        <th>Düzenle</th>
                        @*<th>Sil</th>*@
                        <th>Pasif</th>
                        <th>Satış Geçmişi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Şehir</th>
                        <th>Mail</th>
                        <th>Durum</th>
                        <th>Düzenle</th>
                        @*<th>Sil</th>*@
                        <th>Pasif</th>
                        <th>Satış Geçmişi</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CariID</td>
                            <td>@item.CariAd</td>
                            <td>@item.CariSoyad</td>
                            <td>@item.CariSehir</td>
                            <td>@item.CariMail</td>
                            <td>@item.CariDurum</td>
                            <td><a href="/Cari/CariGetir/@item.CariID" class="btn btn-primary">Düzenle</a></td>
                            @*<td><a href="/Cari/CariSil/@item.CariID" class="btn btn-danger">Sil</a></td>*@
                            <td><a href="/Cari/CariPasifYap/@item.CariID" class="btn btn-info">Pasif Yap</a></td>
                            <td><a href="/Cari/CariSatis/@item.CariID" class="btn btn-info">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Cari/CariEkle" class="btn btn-success">Cari Ekle</a>
            <br /><br />
        </div>
    </div>
</div>